streamlit>=1.32.0
pypdf>=4.2.0

langchain>=0.2.1
langchain-community>=0.2.1
langchain-text-splitters>=0.2.0

sentence-transformers>=2.6.1
faiss-cpu>=1.8.0
transformers>=4.41.0
torch>=2.2.0
